body {
    background-image: url("../images/pokeBack.png");
    background-size: cover;
    font-family: pokemonFont ;
}

@font-face {
    font-family: pokemonFont;
    src: url(PokemonGB.ttf);
}

.answer-choice {
	margin-top: 15px;
}


.answer-choice {
	margin-right: 15px;
}

#timer-box {
	height: 75px;
	width: 75px;
	/*margin: 50px auto 50px 0;*/
}

#main-box {
	width: 700px;
	height: auto;
}